<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Razorpay Checkout</title>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>

<body>
    <script>
        var options = {
            "key": "{{ razorpay_api_key }}",
            "amount": "{{ tenant.subscription_plan.price|floatformat:2 }}",
            "currency": "INR",
            "name": "{{ tenant.name }}",
            "description": "Subscription Payment",
            "order_id": "{{ razorpay_order_id }}",
            "handler": function (response) {
                window.location.href = "{% url 'payment_success' response.razorpay_payment_id %}";
            },
            "prefill": {
                "name": "{{ tenant.name }}",
                "email": "{{ tenant.contact_email }}",
                "contact": "{{ tenant.contact_phone }}"
            },
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
    </script>
</body>

</html>